h2 	{
	color:darkblue;
	margin-top: -30px;
	}

h1 	{
	font-size: 30px;
	}
.home {
	min-height: 100vh;
	display: flex;
	align-items: center;
	background-image: url('../images/latar.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-size: 100% 91%;
	margin-top: -50px;
	flex-wrap: wrap;
	}
.gif.garuda{
	position: fixed; align: left
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-style:solid
}

#radipan {
	font-size: 50em;
}