/*Teks Heading 1*/
h1{
    text-align: center;
    font-size: 50px;
}

/*latar belakang*/
.background{
    min-height: 100vh;
	display: flex;
	align-items: center;
	background-image: url('../images/latar.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-size: 100% 91%;
	margin-top: 10px;
	flex-wrap: wrap;
}

/*Teks Di dlm Background*/
.background p{
    color: rgb(255, 4, 4);
    text-align: center;
    padding: 20px 25px;
    border: 7px solid rgb(218, 0, 0);
    width: 300px;
    margin: 20px;
    box-shadow: 10px;
    outline-offset: 10px;
    font-size: 20px;
}

h2{
    font-weight: bold;
    text-decoration:underline;
    text-transform: capitalize;
    word-spacing: 10px;
    text-shadow: 5px;
    font-style: italic;
}
/*Intro Garuda*/
.home p{
    margin-bottom: 80px;
    outline-style: dashed;
    outline-color: rgb(218, 0, 0);
    outline-width: 3px;

}
/*navbar atas*/
.navbar{
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 5px 2%;
  background-color: rgb(214, 214, 214);
  border-bottom: 1px solid var(--rg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.navbar .head h1 {
    font-size: 2rem;
}

.background-p{
    text-align: right;
}

/*Tabel*/
.table tr th {
    background-color: rgb(247, 115, 115);
    height: 30px;
    width: 20rem;
}

.table tr td {
    border: 1px solid black;
    height: 30px;
    text-align: center;
    align-items: center;
}

.table {
    text-align: center;
    align-items: center;
    padding: 10px -100px;
    margin: 0 20rem;
}

/*Gambar Konten*/
.gambar1{
    float: left;
    padding: 1rem;
}

.gambar1 a:hover{
    transform: scale(1,1);
}

.gambar2{
    float: left;
}

.gambar3{
    float: left;
}
.spek h4{
    margin-right: 10px;
}

audio{
    align-items: center;
}

.spek li{
    list-style-type: square;
}

/*bagian navbar bawah*/
footer{
    background-color: rgba(190, 148, 148, 0.904);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    padding-top: 8px;
    padding-bottom: 100px;
    padding-left: 15px;
    height: 150px;
    border: 0;
}

p{
    float: right;
    padding-right: 4rem;
    padding-top: 8px;
    font-size: 120%;
    text-align: right;
}

/* ikon */
a {
    text-decoration: none;
}

.social-container {
    color: rgb(206, 39, 39);
    font-family: Arial, sans-serif;
    text-align: center;
}


/* Kontainer ikon */
.social-icons {
    display: flex;
    justify-content: center;
    padding-top: -20px;
    gap: 15px;
}

.social-icons p{
    text-align: center;
}

/* style untuk ikon */
.icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #921606;
    border-radius: 5px;
    font-size: 20px;
    transition: transform 0.2s, background-color 0.2s;
}

/* Hover Efek saat di klik */
.icon:hover {
    transform: scale(1.1); 
    background-color: #921606;;
    color: white;
}

a:link, a:visited {
    background-color: #8d2020;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px; 
    display: inline-block;
  }
  
  .Konservasi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Jarak antar tombol */;
  }
  
  a:hover, a:active {
    background-color: rgb(97, 84, 71);
  }